.hero {
    height: 1000vh;
    background: var(--cream-background);
}

.hero-content {
    position: sticky;
    top: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.watering-can {
    position: absolute;

    width: 20%;
    height: auto;

    left: 10%;
    bottom: 42%;

    transform: rotate(0deg);
}

.water-drop {
    position: absolute;

    width: 1.6%;
    height: auto;

    left: 50%;
    bottom: 60%;

    opacity: 0;
}

.main-flower {
    position: absolute;

    width: auto;
    height: 37%;

    left: 46%;

    transform: scale(0);
    transform-origin: 37% 100%;
}